body{
    margin: 0;
    padding: 0;
    background-color: #edede9;
}

/* .collapse{
    display: flex;
    justify-content: flex-end;
} */

i{
    font-size: 3em;
    margin: 20px 0;
}
/* 
.img_room{
    height: 200px;
    width: 100%;
} */
